@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    /*font-family: 'Poppins', sans-serif;*/
    background-color: #fff;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);

}


.hero p{
    color: #fff;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF2B3;
    border-radius: 50% 70% 100% 40% / 60% 90% 80% 50%;
    background-size: cover;
/*    clip-path: unset;*/
    z-index: -1;
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: flex;
    grid-template-rows: 100px 1fr;
    color: #000;
    
    
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}


.nav__title {
    font-weight: 300;
}


.nav__link {

    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.button1 {
    background-color: #124C5F;
    padding: 7px 15px 7px 15px;
    border-color: #124C5F;
    border-radius: 5px;
    gap: 2em;
    color: white;
}


.button2 {
    background-color: #C7E7E1;
    padding: 7px 15px 7px 15px;
    border-color: #C7E7E1;
    border-radius: 5px;
    color: #124C5F;
    gap: 2em;
}
.nav__items {

    list-style: none;
}


.nav__links {
    color: #000;
    text-decoration: none;
}

.nav__menu {

    margin-left: auto;
    cursor: pointer;
    display: none;
}


.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}



/* Hero container */

.hero__container {
    max-width: 33%;
    --padding-container: 0;
    display: grid;
    color: #000000;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: left;
}

.hero__title {
    font-size: 3rem;
    color: #000000;
}


.hero p {
    margin-bottom: 20px;
    color: #000000;
    text-justify: auto;
}

.cta {
    display: inline-block;
    background-color: #124C5F;
    justify-self: left;
    text-decoration: none;
    padding: 13px 50px;
    border-radius: 12px;
    color: #ffffff;

}

.hero .logo img{
    background-color: #FFE55E;
    border-radius: 40% 75% 55% 75% / 62% 75% 40% 85%;
    margin-right: 120px;
    margin-top: 60px;
}


/*Proyectos*/

.pruebas{
    background-color: #fff;
}


.pruebas h1{
    width: 20%;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 8%;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #124C5F;
}


.contenedor-prueba {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;

}


.contenedor-prueba .slider {
    width: 23%;
    position:relative;
    height: 250px;

    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
    overflow: hidden;

}


.pruebas .slider li{
    list-style: none;
    width: 100%;
      
}

.slider img {
    background-position: center;
    background-size: contain;
}


.overlay {
    position: absolute;
    bottom:0;
    left: 0;
    background: rgba(13,7,2,0.8);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 1s ease ;

}

.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}


.slider:hover .overlay{
    height: 100%;
    cursor: pointer;
}


@keyframes transicion {
    0%{margin-left: 0;}
    25%{margin-left: 0;}

    30%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}

/*miniarquitectos*/

.taller{


    background-image: linear-gradient(to bottom,
    #d8fcf4 0%,
    #ffffff 100%
    );

}
