@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    /*font-family: 'Poppins', sans-serif;*/
    background-color: #fff;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);

}


.hero p{
    color: #fff;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF2B3;
    border-radius: 50% 70% 100% 40% / 60% 90% 80% 50%;
    background-size: cover;
/*    clip-path: unset;*/
    z-index: -1;
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: flex;
    grid-template-rows: 100px 1fr;
    color: #000;
    
    
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}


.nav__title {
    font-weight: 300;
}


.nav__link {

    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.button1 {
    background-color: #124C5F;
    padding: 7px 15px 7px 15px;
    border-color: #124C5F;
    border-radius: 5px;
    gap: 2em;
    color: white;
}

